body {
    /* background-color: #4b6043; */
    /* background-image: url('https://mcdn.wallpapersafari.com/medium/17/83/2Wqd8O.jpg'); */
    background-image: url('https://images.wallpaperscraft.com/image/single/trees_forest_green_120608_1920x1080.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
}

::selection{
	background-color: #628476;
    color: white;
}
/* BEGINNING OF HEADER */

.header-container {
    width: 50%;
    height: 120px;
    background-color: #40684D;
    margin: 50px auto 50px auto;
    border-radius: 10px;
    /* margin-bottom: 50px; */
}

.header-h1 {
    text-align: center;
    padding: 30px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 40px;
    font-weight: 400;
}

/* END OF HEADER */
/* BEGINNING OF BODY */

.affirmation-container {
    width: 75%;
    height: 250px;
    background-color: #40684D;
    margin: auto;
    display: flex;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.aff-display {
    font-size: 45px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-weight: 300;
    text-align: center;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: -1px;
}

.aff-btn {
    height: 50px;
    width: 20%;
    font-size: 23px;
    color: white;
    background-color:#40684D;
    font-family: 'Roboto Mono', monospace;
    margin-left: 40%;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
}

.aff-btn:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.6); 
}

.aff-btn:active {
    color: #40684D;
    background-color: white;
}

/* END OF BODY */